.container {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    height: 200px;
    background-color: rgb(166, 113, 49);
    margin: 20%;
}

.wrap1 {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 95%;
    margin: 2%;
    background-color: tomato;
}

.bigbox {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: tomato;
    width: 95%;
    height: 100%;
    margin: 2%;
}

.box {
    background-color: aqua;
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.wrap2 {
    display: flex;
    align-items: end;
    align-content: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 95%;
    margin: 2%;
    background-color: tomato;
}



